html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#title {
  display: flex;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 130px;
  font-size: 100px;
  font-family: 'Foldit', cursive;
}

#subtitle {
  display: flex;
  justify-content: center;
}


p {
  position: absolute;
  top: 420px;
  font-size: 50px;
  font-family: 'Foldit', cursive;
}

a {
  color: black;
}

a:hover {
  color: darkred;
}

#intro {
  display: flex;
  justify-content: center;
  display: flex;
}

#description {
  display: flex;
  justify-content: center;
}

p1 {
  position: absolute;
  top: 6%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p2 {
  position: absolute;
  top: 9%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p3 {
  position: absolute;
  top: 12%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p4 {
  position: absolute;
  top: 85%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p5 {
  position: absolute;
  top: 88%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p6 {
  position: absolute;
  top: 91%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p7 {
  position: absolute;
  top: 94%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

p8 {
  position: absolute;
  top: 74%;
  left: 80%;
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

.img-container {
  display: flex;
  justify-content: center;
}