html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.title-box {
  background-color: beige;
  height: 80px;

}

.box {
  background-color: brown;
  width: 150px;
  height: 120px;
  margin: 15px;
}